1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [1]:
# Importing important Libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of Wikipedia.
driver.get('https://en.wikipedia.org/')

In [3]:
driver.find_element_by_id('searchInput').send_keys('List of most-viewed YouTube videos')

In [4]:
driver.find_element_by_xpath("//input[@class='searchButton']").click()

In [5]:
#Make empty lists
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

# Extracting Rank from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")


# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    

# Extracting Artist from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")


# Extracting Upload_date from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[4]'):
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append("_")
    
    
# Extracting Views from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[5]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [10]:
# Make dataframe
YouTube=pd.DataFrame({})
YouTube['Rank']=Rank
YouTube['Name']=Name
YouTube['Artist']=Artist
YouTube['Upload_date']=Upload_date
YouTube['Views']=Views
YouTube

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.00,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.45,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.56,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.39,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.18,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.33,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.28,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.23,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.12,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.00,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.51,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",El Chombo,3.47,"April 5, 2018"
13,14.,"""Sorry""[39]",Justin Bieber,3.45,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.39,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.34,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.29,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.17,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.10,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.10,"December 3, 2015"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.08,"August 18, 2014"
21,22.,"""Girls Like You""[47]",Maroon 5,3.07,"May 31, 2018"
22,23.,"""Lean On""[48]",Major Lazer,3.07,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.06,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.03,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.95,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.90,"November 9, 2017"
27,28.,"""Axel F""[53]",Crazy Frog,2.88,"June 16, 2009"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.88,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.86,"October 22, 2015"

In [7]:
# Close current Browser
driver.close()

Q2. Scrape the details team India’s international fixtures from bcci.tv

In [16]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of bcci.
driver.get('https://www.bcci.tv/')

In [20]:
x=driver.find_element_by_xpath('//div[@class="navigation__menu-wrapper"]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').get_attribute('href')
driver.get(x)

In [21]:
URL=[]
for i in driver.find_elements_by_xpath('//div[@class="event-list__list"]/div/a'):
    URL.append(i.get_attribute('href'))

In [22]:
#Make empty lists
Match_title=[]
Series_Place=[]
Date=[]
Time=[]
# Scraping data from each url
for i in URL:
    # Loading the webpage by url 
    driver.get(i)
    
    # Extracting Match_title from xpath
    try:
        match_title=driver.find_element_by_xpath("//span[@class='mc-header-info__match-description-match-type mc-theme-color']")
        Match_title.append(match_title.text)
    except NoSuchElementException:
        Match_title.append("_")
        
        
    # Extracting Series_Place from xpath
    try:
        series_Place=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        Series_Place.append(series_Place.text)
    except NoSuchElementException:
        Series_Place.append("_")
        
    # Extracting Date from xpath
    try:
        date=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append("_")
        
    # Extracting Time from xpath    
    try:
        time=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        Time.append(time.text)
    except NoSuchElementException:
        Time.append("_")

In [23]:
# Make dataframe
ICIC=pd.DataFrame({})
ICIC['Match_title']=Match_title
ICIC['Series_Place']=Series_Place
ICIC['Date']=Date
ICIC['Time']=Time
ICIC

,Match_title,Series_Place,Date,Time
0,3RD ODI,"Sri Lanka v India R Premadasa Stadium, Colombo","Friday 23 July, 15:00 IST",15:00 IST
1,1ST T20I,"Sri Lanka v India R Premadasa Stadium, Colombo","Sunday 25 July, 20:00 IST",20:00 IST
2,2ND T20I,"Sri Lanka v India R Premadasa Stadium, Colombo","Tuesday 27 July, 20:00 IST",20:00 IST
3,3RD T20I,"Sri Lanka v India R Premadasa Stadium, Colombo","Thursday 29 July, 20:00 IST",20:00 IST
4,1ST TEST,"England v India Trent Bridge, Nottingham","Wednesday 4 August, 15:30 IST",15:30 IST
5,2ND TEST,"England v India Lord's, London","Thursday 12 August, 15:30 IST",15:30 IST
6,3RD TEST,"England v India Headingley, Leeds","Wednesday 25 August, 15:30 IST",15:30 IST
7,4TH TEST,"England v India The Oval, London","Thursday 2 September, 15:30 IST",15:30 IST
8,5TH TEST,"England v India Old Trafford, Manchester","Friday 10 September, 15:30 IST",15:30 IST

In [24]:
# Close current Browser
driver.close()

Q3. Scrape the details of selenium exception from guru99.com

In [25]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of guru99.
driver.get('https://www.guru99.com/')

In [26]:
driver.find_element_by_xpath('//div[@class="row featured-boxes"]/div/div/ul[1]/li[3]/a').click()

In [27]:
driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[34]/td/a').click()

In [28]:
#Make empty lists
Name=[]
Description=[]


# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
# Extracting Description from xpath
try:
    for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]'):
        Description.append(i.text)
except NoSuchElementException:
    Description.append("_")

In [29]:
# Make dataframe
Guru99=pd.DataFrame({})
Guru99['Name']=Name
Guru99['Description']=Description
Guru99

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [30]:
# Close current Browser
driver.close()

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [31]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of statisticstimes
driver.get('http://statisticstimes.com/')

In [32]:
x=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').get_attribute('href')
driver.get(x)

In [33]:
y=driver.find_element_by_xpath('//div[@style="float:left;background-color:seashell;width:400px;height:800px;"]/ul/li[1]/a').get_attribute('href')
driver.get(y)

In [34]:
Rank=[]
State=[]
GSDP_current_19_20=[]
GSDP_current_18_19=[]
Share_18_19=[]
GDP_billion=[]

# Extracting State from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")


# Extracting Rank from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Extracting GSDP_current_19_20 from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[3]"):
        GSDP_current_19_20.append(i.text)
except NoSuchElementException:
    GSDP_current_18_19.append("_")


# Extracting GSDP_current_18_19 from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[4]"):
        GSDP_current_18_19.append(i.text)
except NoSuchElementException:
    GSDP_current_18_19.append("_")
    
# Extracting Share_18_19 from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[5]"):
        Share_18_19.append(i.text)
except NoSuchElementException:
    Share_18_19.append("_")


# Extracting GDP_billion from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [35]:
GDP=pd.DataFrame({})
GDP['Rank']=Rank
GDP['State']=State
GDP['GSDP_current_18_19']=GSDP_current_18_19
GDP['GSDP_current_18_19']=GSDP_current_18_19
GDP['Share_18_19']=Share_18_19
GDP['GDP_billion']=GDP_billion
GDP

   Rank                      State GSDP_current_18_19 Share_18_19 GDP_billion
0     1                Maharashtra          2,632,792      13.94%     399.921
1     2                 Tamil Nadu          1,630,208       8.63%     247.629
2     3              Uttar Pradesh          1,584,764       8.39%     240.726
3     4                    Gujarat          1,502,899       7.96%     228.290
4     5                  Karnataka          1,493,127       7.91%     226.806
5     6                West Bengal          1,089,898       5.77%     165.556
6     7                  Rajasthan            942,586       4.99%     143.179
7     8             Andhra Pradesh            862,957       4.57%     131.083
8     9                  Telangana            861,031       4.56%     130.791
9    10             Madhya Pradesh            809,592       4.29%     122.977
10   11                     Kerala            781,653       4.14%     118.733
11   12                      Delhi            774,870       4.10%     117.703
12   13                    Haryana            734,163       3.89%     111.519
13   14                      Bihar            530,363       2.81%      80.562
14   15                     Punjab            526,376       2.79%      79.957
15   16                     Odisha            487,805       2.58%      74.098
16   17                      Assam            315,881       1.67%      47.982
17   18               Chhattisgarh            304,063       1.61%      46.187
18   19                  Jharkhand            297,204       1.57%      45.145
19   20                Uttarakhand            245,895       1.30%      37.351
20   21            Jammu & Kashmir            155,956       0.83%      23.690
21   22           Himachal Pradesh            153,845       0.81%      23.369
22   23                        Goa             73,170       0.39%      11.115
23   24                    Tripura             49,845       0.26%       7.571
24   25                 Chandigarh             42,114       0.22%       6.397
25   26                 Puducherry             34,433       0.18%       5.230
26   27                  Meghalaya             33,481       0.18%       5.086
27   28                     Sikkim             28,723       0.15%       4.363
28   29                    Manipur             27,870       0.15%       4.233
29   30                   Nagaland             27,283       0.14%       4.144
30   31          Arunachal Pradesh             24,603       0.13%       3.737
31   32                    Mizoram             22,287       0.12%       3.385
32   33  Andaman & Nicobar Islands                  -           -           -

In [36]:
# Close current Browser
driver.close()

Q5. Scrape the details of trending repositories on Github.com.

In [37]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of github
driver.get('https://github.com/')

In [38]:
x=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/div/ul[2]/li[3]/a").get_attribute('href')
driver.get(x)

In [39]:
Repository_title=[]
Repository_description=[]


# Extracting Repository_title from xpath
try:
    for i in driver.find_elements_by_xpath('//span[@class="text-normal"]'):
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append("_")


# Extracting Repository_description from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]'):
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append("_")

In [40]:
GitHub=pd.DataFrame({})
GitHub['Repository_title']=Repository_title[0:20]
GitHub['Repository_description']=Repository_description[0:20]
GitHub

      Repository_title                             Repository_description
0        mvt-project /  MVT is a forensic tool to look for signs of in...
1          microsoft /  Linux OS for Azure 1P services and edge applia...
2          zhenghaoz /  An open source recommender system service writ...
3        AmnestyTech /  Indicators from Amnesty International's invest...
4     blueedgetechno /                            windows 11 in react 💻🌈⚡
5        public-apis /                     A collective list of free APIs
6           alan2207 /  🛡️ ⚛️ A simple, scalable, and powerful archite...
7             ventoy /                       A new bootable USB solution.
8       CryptoBlades /  A framework for training and evaluating AI mod...
9   facebookresearch /  go-zero is a web and rpc framework written in ...
10          tal-tech /  A complete computer science study plan to beco...
11           jwasham /  Inisiatif warga untuk berbagi informasi seputa...
12      kawalcovid19 /             A curated list of references for MLOps
13      LaravelDaily /  Download sheet music (MSCZ, PDF, MusicXML, MID...
14      taylorotwell /  🔥go语言分布式事务管理器 a lightweight distributed transa...
15      taylorotwell /  An open-source Chinese font derived from Fontw...
16          visenger /                               Cash system for AIR.
17            Xmader /  A list of Free Software network services and w...
18              yedf /  📚 Playground and cheatsheet for learning Pytho...
19              lxgw /  A Svelte IDE like no other. Embrace the storm....

In [41]:
# Close current Browser
driver.close()

Q6. Scrape the details of top 100 songs on billboard.com.

In [42]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of billboard
driver.get('https://www.billboard.com/')

In [43]:
driver.find_element_by_xpath('//ul[@class="header__subnav__list display--flex flex--left-center flex-md--center-center"]/li[3]').click()

In [44]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

# Extracting Song_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-list container "]/ol/li/button/span[2]/span[1]'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append("_")
    
# Extracting Artist_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-list container "]/ol/li/button/span[2]/span[2]'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append("_")
    
# Extracting Last_week_rank from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-list container "]/ol/li/button/div/div[2]'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append("_")
    
    
# Extracting Peak_rank from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-list container "]/ol/li/button/div/div[3]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append("_")
    
    

# Extracting Weeks_on_board from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append("_")

In [45]:
Billboard=pd.DataFrame({})
Billboard['Song_name']=Song_name
Billboard['Artist_name']=Artist_name
Billboard['Last_week_rank']=Last_week_rank
Billboard['Peak_rank']=Peak_rank
Billboard['Weeks_on_board']=Weeks_on_board
Billboard

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Permission To Dance,BTS,-,1,1
1,Good 4 U,Olivia Rodrigo,1,9,9
2,Stay,The Kid LAROI & Justin Bieber,-,3,1
3,Levitating,Dua Lipa Featuring DaBaby,2,41,41
4,Kiss Me More,Doja Cat Featuring SZA,3,14,14
...,...,...,...,...,...
95,Wasting Time,Brent Faiyaz Featuring Drake,49,2,2
96,All I Know So Far,P!nk,96,74,5
97,Outside,MO3 X OG Bobby Billions,92,4,4
98,Miss The Rage,Trippie Redd & Playboi Carti,11,10,10
99,Next Girl,Carly Pearce,-,100,1

In [46]:
# Close current Browser
driver.close()

Q7. Scrape the details of Data science recruiters from naukri.com.

In [47]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of naukri
driver.get('https://www.naukri.com/')

In [48]:
#clicking on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [49]:
#accesing search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [50]:
# Click on search button
driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [51]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]



# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//a[@class="ellipsis"]/span'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
# Extracting Designation from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/span[1]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append("_")
    
# Extracting Company from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append("_")
    
    
# Extracting Location from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]'):
        Location.append(i.text)
except NoSuchElementException:
    Location.append("_")
    
# Extracting Skills from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
        Skills.append(i.text)
except NoSuchElementException:
    Skills.append("_")

In [52]:
Naukari=pd.DataFrame({})
Naukari['Name']=Name[0:40]
Naukari['Designation']=Designation[0:40]
Naukari['Company']=Company[0:40]
Naukari['Skills']=Skills[0:40]
Naukari['Location']=Location[0:40]
Naukari

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore

In [53]:
# Close current Browser
driver.close()

Q8. Scrape the details of Highest selling novels.

In [54]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of theguardian
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [55]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]


# Extracting Book_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append("_")
    
# Extracting Author_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append("_")
    
# Extracting Volumes_sold from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append("_")
    
    
# Extracting Publisher from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append("_")
    
# Extracting Genre from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("_")

In [56]:
Novels=pd.DataFrame({})
Novels['Book_name']=Book_name
Novels['Author_name']=Author_name
Novels['Volumes_sold']=Volumes_sold
Novels['Publisher']=Publisher
Novels['Genre']=Genre
Novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [57]:
# Close current Browser
driver.close()

Q9. Scrape the details most watched tv series of all time from imdb.com

In [58]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of imdb
driver.get('https://www.imdb.com/list/ls095964455/')

In [59]:
Name=[]
Year=[]
Votes=[]
Genre=[]
Ratings=[]
Run_time=[]


# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
        Year.append(i.text)
except NoSuchElementException:
    Year.append("_")
    
# Extracting Ratings from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append("_")
    
    
# Extracting Run_time from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[3]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append("_")
    
# Extracting Genre from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[5]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("_")
    

# Extracting Ratings from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]'):
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append("_")

In [60]:
MBD=pd.DataFrame({})
MBD['Name']=Name
MBD['Ratings']=Ratings
MBD['Votes']=Votes
MBD['Genre']=Genre
MBD['Run_time']=Run_time
MBD['Year']=Year
MBD

,Name,Ratings,Votes,Genre,Run_time,Year
0,Game of Thrones,9.2,"1,839,326","Action, Adventure, Drama",57 min,(2011–2019)
1,Stranger Things,8.7,"877,820","Drama, Fantasy, Horror",51 min,(2016– )
2,The Walking Dead,8.2,"881,150","Drama, Horror, Thriller",44 min,(2010–2022)
3,13 Reasons Why,7.6,"264,638","Drama, Mystery, Thriller",60 min,(2017–2020)
4,The 100,7.6,"226,081","Drama, Mystery, Sci-Fi",43 min,(2014–2020)
...,...,...,...,...,...,...
95,Reign,7.5,"44,839","Drama, Fantasy",42 min,(2013–2017)
96,A Series of Unfortunate Events,7.8,"55,488","Adventure, Comedy, Drama",50 min,(2017–2019)
97,Criminal Minds,8.1,"170,226","Crime, Drama, Mystery",42 min,(2005–2020)
98,Scream: The TV Series,7.1,"35,213","Comedy, Crime, Drama",45 min,(2015–2019)
99,The Haunting of Hill House,8.6,"193,903","Drama, Horror, Mystery",572 min,(2018)

In [61]:
# Close current Browser
driver.close()

Q10. Details of Datasets from UCI machine learning repositories.

In [62]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of archive
driver.get('https://archive.ics.uci.edu/')

In [63]:
driver.find_element_by_xpath("//span[@class='whitetext'][2]/a").click()

In [64]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attribute=[]
Year=[]

#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td/table/tbody/tr/td[2]/p/b"):
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append("_")
    
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]"):
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]"):
        Task.append(i.text)
except NoSuchElementException:
    Task.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]"):
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]"):
        Instances.append(i.text)
except NoSuchElementException:
    Instances.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]"):
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]"):
        Year.append(i.text)
except NoSuchElementException:
    Year.append("_")

In [66]:
UCI=pd.DataFrame({})
UCI['Dataset_name']=Dataset_name
UCI['Data_type']=Data_type[1:589]
UCI['Task']=Task[1:589]
UCI['Attribute_type']=Attribute_type[1:589]
UCI['Instances']=Instances[1:589]
UCI['Attribute']=Attribute[1:589]
UCI['Year']=Year[1:589]
UCI

,Dataset_name,Data_type,Task,Attribute_type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [67]:
# Close current Browser
driver.close()