In [1]:
# Importing important Libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of Amazon.in
driver.get('https://archive.ics.uci.edu/')

In [24]:
driver.find_element_by_xpath("//span[@class='whitetext'][2]/a").click()

In [35]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attribute=[]
Year=[]

#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td/table/tbody/tr/td[2]/p/b"):
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append("_")
    
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]"):
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]"):
        Task.append(i.text)
except NoSuchElementException:
    Task.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]"):
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]"):
        Instances.append(i.text)
except NoSuchElementException:
    Instances.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]"):
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append("_")
    
#scraping Citizenship
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]"):
        Year.append(i.text)
except NoSuchElementException:
    Year.append("_")

In [36]:
UCI=pd.DataFrame({})
UCI['Dataset_name']=Dataset_name
UCI['Data_type']=Data_type[1:589]
UCI['Task']=Task[1:589]
UCI['Attribute_type']=Attribute_type[1:589]
UCI['Instances']=Instances[1:589]
UCI['Attribute']=Attribute[1:589]
UCI['Year']=Year[1:589]

In [37]:
UCI

,Dataset_name,Data_type,Task,Attribute_type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021