In [2]:
# Importing important Libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [4]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')
# Opening the homepage of Amazon.in
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [5]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]


# Extracting Book_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append("_")
    
# Extracting Author_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append("_")
    
# Extracting Volumes_sold from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append("_")
    
    
# Extracting Publisher from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append("_")
    
# Extracting Genre from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("_")

In [6]:
Novels=pd.DataFrame({})
Novels['Book_name']=Book_name
Novels['Author_name']=Author_name
Novels['Volumes_sold']=Volumes_sold
Novels['Publisher']=Publisher
Novels['Genre']=Genre
Novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General